*
!.gitignore

!/fish/
!/fish/**/*

!/i3/
!/i3/**/*
!/i3blocks/
!/i3blocks/**/*
!/nitrogen/
!/nitrogen/**/*

!/rofi/
!/rofi/**/*
!/dunst/
!/dunst/**/*
!/scripts/
!/scripts/**/*

!/alacritty/
!/alacritty/**/*
!/picom/
!/picom/**/*

!wall.png
!README.md
