*
!.gitignore

!/fish/
!/fish/**/*

!/i3/
!/i3/**/*
!/i3blocks/
!/i3blocks/**/*
!/hypr/
!/hypr/**/*

!/waybar/
!/waybar/**/*

!/rofi/
!/rofi/**/*
!/dunst/
!/dunst/**/*
!/scripts/
!/scripts/**/*

!/alacritty/
!/alacritty/**/*

!wall.jpg
!README.md
